# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
.eggs/
*.egg
.python-version
env/
venv/
.venv/
ENV/

# VS Code
.vscode/
.history/

# OS
.DS_Store
Thumbs.db

# Virtual environments
*.venv/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# Pyright/Type stubs
.mypy_cache/
.pytest_cache/

# Django
*.log
local_settings.py
db.sqlite3

# Secret files
.env
.env.*

# Supabase / NextJS
/out/
/.next/
/node_modules/
/.turbo/

# Local UI workspace artifacts
src/ui/out/
src/ui/.next/
src/ui/node_modules/
src/ui/.turbo/

# Docker
docker-compose.override.yml

# Build artifacts
coverage.xml
htmlcov/
*.cover
*.coverage

# JetBrains
.idea/

# Misc
*.swp
*~
